.items {
    background-color: blue;
    height: 200px;
    width: 200px;
    animation-name: change_color;
    animation-duration: 5s;
    animation-delay: 2s;
    float: left;
    animation-timing-function: infinite;
}
@keyframes change_color {
    0% {
        background-color: tomato;
    }
    10% {
        background-color: orange;
    }
    30% {
        background-color: coral;
    }
    50% {
        background-color: chocolate;
    }
    70% {
        background-color: bisque;
    }
    100% {
        background-color: black;
    }
}
.gradient {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;

    background:conic-gradient (red, orange, yellow, green, blue, indigo, violet);
    animation-name: change_color;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-timing-function: infinite;
}